{:paths ["src" "zrc" "docs" "RuCoreIG/output"]
 :deps {org.clojure/clojure  {:mvn/version "1.11.1"}
        zen-lang/zendoc      {:git/url "https://github.com/zen-lang/zendoc"
                              :sha "36ac7c94268a98b937ba45635adebe99b57633b6"}}
 :aliases
 {:nrepl
  {:extra-paths ["test" "libs/zd/test"]
   :extra-deps  {cider/cider-nrepl {:mvn/version "LATEST"}}
   :jvm-opts ^:replace ["-XX:-OmitStackTraceInFastThrow"]
   :main-opts   ["-m" "nrepl.cmdline"
                 "-b" "0.0.0.0"
                 "--middleware"
                 "[cider.nrepl/cider-middleware]"]}
  :kaocha
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.77.1236"}}
   :extra-paths ["test"]
   :jvm-opts   ^:replace ["-XX:-OmitStackTraceInFastThrow"]
   :main-opts  ["-m" "kaocha.runner"]}

  :run
  {:jvm-opts    ["-XX:-OmitStackTraceInFastThrow"]
   :main-opts   ["-m" "zd.fhir-ru"]}}}
