{:ns fhir-ru
 :import #{zen-web zd zd.events}

 on-fsh-compile
 {:zen/tags #{zen/event :zen/schema}
  :zen/desc "compile fsh document field into FHIR profile"
  :type zen/map}

 fsh-init
 {:zen/tags #{zen/sub}
  :events #{zd.events/on-load-start}}

 fsh-ig-publish
 {:zen/tags #{zen/sub}
  :events #{zd.events/on-load-complete}}

 fsh-file-build
 {:zen/tags #{zen/sub}
  :events #{zd.events/on-doc-load}}}
