{:ns fhir-ru
 :import #{zen-web zd zd.events}

 zendoc
 {:zen/tags #{zd/zendoc}
  :dir "docs"
  :validator {:type "fsh"
              :endpoint "http://localhost:8083/api/v1/validators/fsh"}}

 on-fsh-compile
 {:zen/tags #{zen/event :zen/schema}
  :zen/desc "compile fsh document field into FHIR profile"
  :type zen/map}

 fsh-init
 {:zen/tags #{zen/sub}
  :events #{zd.events/on-load-start}}

 fsh-file-build
 {:zen/tags #{zen/sub}
  :events #{zd.events/on-doc-load}}

 http
 {:zen/tags #{zen/start zen-web/http zd.engines/http}
  :engine zen-web/httpkit
  :port 3344
  :zendoc zendoc
  :api zd/api}

 system
 {:zen/tags #{zen/system}
  :start [zd/zendoc http]}}
